
.vs/

*.exp

*.lib

*.pdb

*.ilk

Libraries/Capstone/

Libraries/Keystone/

*.tlog

*.obj

*.log

*.idb

*.cache

*.pch

*.dll

*.exe

*.lastcodeanalysissucceeded

JRuntime/JavascriptRuntime/Debug/argumentresolver.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/assembler.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/disassembler.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/dllmain.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/globals.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/hook.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/javascriptruntime.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/vc.nativecodeanalysis.all.xml

JRuntime/JavascriptRuntime/Debug/typeparser.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/stdafx.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/resource.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/nativeexports.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/pebparser.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/jcall.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/JavascriptRuntime.pch.codeanalysisast

JRuntime/JavascriptRuntime/Debug/JavascriptRuntime.pch.codeanalysis

JRuntime/JavascriptRuntime/Debug/jcallback.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/jexception.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/jmanualcallback.nativecodeanalysis.xml

JRuntime/JavascriptRuntime/Debug/jruntime.nativecodeanalysis.xml

*.iobj

*.ipdb
